# <p align="center">Siemens Sales Forecast</p>

---

## <p align="center">*1 - Exploratory Data Analysis & Pre-processing*</p>

---

### üë• **Team Members**
- **Ana Farinha** *(Student Number: 20211514)*  
- **Ant√≥nio Oliveira** *(Student Number: 20211595)*  
- **Mariana Neto** *(Student Number: 20211527)*  
- **Salvador Domingues** *(Student Number: 20240597)*  

üìÖ **Date:** *April 1, 2025*  
üìç **Prepared for:** *Siemens*  

**GitHub Repo:** https://github.com/MGN19/Siemens-forecast

---

# ToC

<a class="anchor" id="top"></a>


1. [Import Libraries & Data](#1.-Import-Libraries-&-Data) <br><br>

2. [Data Exploration](#2.-Data-Exploration) <br>

    2.1 [Descriptive Statistics](#2.1-Descriptive-Statistics) <br>
    
    2.2 [Duplicate Records](#2.2-Duplicate-Records) <br>
   
    2.3 [Missing Data Analysis](#2.3-Missing-Data-Analysis) <br><br>

3. [Feature Exploration](#3.-Feature-Exploration) <br>

    3.1 [Univariate Analysis](#3.1-Univariate-Analysis) <br>
    
    3.2 [Bivariate Analysis](#3.2-Bivariate-Analysis) <br><br>

4. [Data Cleaning & Preprocessing](#4.-Data-Cleaning-&-Preprocessing) <br>

    4.1 [Treating Incoherencies](#4.1-Treating-Incoherencies) <br>
    
    4.2 [Missing Values](#4.2-Missing-Values) <br>

    4.3 [Feature Engineering](#4.3-Feature-Engineering) <br>

    &emsp; 4.3.1 [Feature Creation](#4.3.1-Feature-Creation) <br>

    &emsp; 4.3.2 [Encoding](#4.3.2-Encoding) <br>

    4.4 [Outliers](#4.4-Outliers) <br>

    &emsp; 4.4.1 [Univariate Outliers](#4.4.1-Univariate-Outliers) <br>

    &emsp; 4.4.2 [Multivariate Outliers](#4.4.2-Multivariate-Outliers) <br>

    4.5 [Feature Selection](#4.5-Feature-Selection) <br>

    &emsp; 4.5.1 [Dropping Features](#4.5.1-Dropping-Features) <br>

    4.6 [Data Exploration](#4.6-Data-Exploration)<br>

    &emsp; 4.6.1 [Univariate Analysis](#4.6.1-Univariate-Analysis) <br>

    &emsp; 4.6.2 [Bivariate Analysis](#4.6.2-Bivariate-Analysis) <br>

# 1. Import Libraries & Data

In [3]:
# Data Handling Libraries
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

# from ydata_profiling import ProfileReport

# Visualisation libraries
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# Data Preprocessing Libraries
from sklearn.preprocessing import OneHotEncoder, RobustScaler
from sklearn.impute import KNNImputer

# Suppress Warnings
import warnings
warnings.filterwarnings("ignore")

# Custom Functions
#import functions as f
#import utils as u

**Data**

In [5]:
sales_data = pd.read_csv('./data/Case2_Sales data.csv', 
                 sep = ';')
sales_data

            DATE Mapped_GCK Sales_EUR
0     01.10.2018         #1         0
1     02.10.2018         #1         0
2     03.10.2018         #1         0
3     04.10.2018         #1         0
4     05.10.2018         #1         0
...          ...        ...       ...
9797  23.08.2019        #12         0
9798  23.08.2019        #36      1015
9799  12.08.2019        #12         0
9800  28.08.2019         #8  43763,91
9801  27.08.2019         #8         0

[9802 rows x 3 columns]

In [14]:
test_data = pd.read_csv('data/Case2_Test Set Template.csv', 
                 sep = ';')
test_data

    Month Year Mapped_GCK  Sales_EUR
0       Mai 22         #3        NaN
1       Jun 22         #3        NaN
2       Jul 22         #3        NaN
3       Aug 22         #3        NaN
4       Sep 22         #3        NaN
..         ...        ...        ...
135     Okt 22         #1        NaN
136     Nov 22         #1        NaN
137     Dez 22         #1        NaN
138     Jan 23         #1        NaN
139     Feb 23         #1        NaN

[140 rows x 3 columns]

In [11]:
market_data = pd.read_excel('./data/Case2_Market data.xlsx', index_col = 'Unnamed: 0')
market_data

,China,China.1,France,France.1,Germany,Germany.1,Italy,Italy.1,Japan,Japan.1,Switzerland,Switzerland.1,United Kingdom,United Kingdom.1,United States,United States.1,Europe,Europe.1,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Producer Prices,Producer Prices.1,Producer Prices.2,Producer Prices.3,Producer Prices.4,Producer Prices.5,production index,production index.1,production index.2,production index.3,production index.4,production index.5,production index.6,production index.7,production index.8,production index.9,production index.10,production index.11,production index.12,production index.13,production index.14,production index.15
Index 2010=100 (if not otherwise noted),Production Index Machinery & Electricals,Shipments Index Machinery & Electricals,Production Index Machinery & Electricals,Shipments Index Machinery & Electricals,Production Index Machinery & Electricals,Shipments Index Machinery & Electricals,Production Index Machinery & Electricals,Shipments Index Machinery & Electricals,Production Index Machinery & Electricals,Shipments Index Machinery & Electricals,Production Index Machinery & Electricals,Shipments Index Machinery & Electricals,Production Index Machinery & Electricals,Shipments Index Machinery & Electricals,Production Index Machinery & Electricals,Shipments Index Machinery & Electricals,Production Index Machinery & Electricals,Shipments Index Machinery & Electricals,World: Price of Base Metals,World: Price of Energy,World: Price of Metals & Minerals,World: Price of Natural gas index,"World: Price of Crude oil, average",World: Price of Copper,United States: EUR in LCU,United States: Electrical equipment,United Kingdom: Electrical equipment,Italy: Electrical equipment,France: Electrical equipment,Germany: Electrical equipment,China: Electrical equipment,United States: Machinery and equipment n.e.c.,World: Machinery and equipment n.e.c.,Switzerland: Machinery and equipment n.e.c.,United Kingdom: Machinery and equipment n.e.c.,Italy: Machinery and equipment n.e.c.,Japan: Machinery and equipment n.e.c.,France: Machinery and equipment n.e.c.,Germany: Machinery and equipment n.e.c.,United States: Electrical equipment,World: Electrical equipment,Switzerland: Electrical equipment,United Kingdom: Electrical equipment,Italy: Electrical equipment,Japan: Electrical equipment,France: Electrical equipment,Germany: Electrical equipment
date,MAB_ELE_PRO156,MAB_ELE_SHP156,MAB_ELE_PRO250,MAB_ELE_SHP250,MAB_ELE_PRO276,MAB_ELE_SHP276,MAB_ELE_PRO380,MAB_ELE_SHP380,MAB_ELE_PRO392,MAB_ELE_SHP392,MAB_ELE_PRO756,MAB_ELE_SHP756,MAB_ELE_PRO826,MAB_ELE_SHP826,MAB_ELE_PRO840,MAB_ELE_SHP840,MAB_ELE_PRO1100,MAB_ELE_SHP1100,RohiBASEMET1000_org,RohiENERGY1000_org,RohiMETMIN1000_org,RohiNATGAS1000_org,RohCRUDE_PETRO1000_org,RohCOPPER1000_org,WKLWEUR840_org,PRI27840_org,PRI27826_org,PRI27380_org,PRI27250_org,PRI27276_org,PRI27156_org,PRO28840_org,PRO281000_org,PRO28756_org,PRO28826_org,PRO28380_org,PRO28392_org,PRO28250_org,PRO28276_org,PRO27840_org,PRO271000_org,PRO27756_org,PRO27826_org,PRO27380_org,PRO27392_org,PRO27250_org,PRO27276_org
2004m2,16.940704,16.940704,112.091273,83.458866,82.623037,79.452532,124.289603,86.560493,109.33401,110.495272,91.221862,89.987275,111.353812,73.601265,107.6014,79.24023,97.122911,80.09853,54.039811,44.123338,48.747945,87.076974,39.639458,36.623832,1.2646,78.969864,80.757423,93.020027,NaN,93.230453,NaN,102.491722,97.597374,97.1,106.191977,116.790276,110.890034,118.274109,80.82901,117.723991,NaN,81.1,120.706516,141.510864,106.161262,102.077057,85.9132
2004m3,23.711852,23.711852,136.327976,106.168192,100.556582,97.012918,143.411662,106.344544,140.884616,144.686166,85.866287,79.883583,127.558608,84.047595,110.187364,98.619024,113.783904,96.015929,54.666162,47.588957,49.256157,87.192705,42.592034,39.931055,1.2262,79.673569,80.962135,93.540268,NaN,93.335678,NaN,105.62748,113.224892,91.195116,121.625075,139.288391,141.176853,148.121841,102.130104,119.220779,NaN,76.690307,138.30955,152.880234,140.288741,117.225685,97.670815
2004m4,24.435235,24.435235,117.791806,92.007646,89.653203,84.932358,129.083828,95.579673,105.853579,102.655769,85.622508,79.740802,108.732297,73.026027,108.166564,89.774031,101.715199,85.167236,54.872715,47.779013,49.423751,91.379923,42.650637,39.134854,1.1985,80.337639,80.757423,93.852425,NaN,93.440903,NaN,103.484955,100.16909,93.793535,104.965505,125.289566,105.648765,125.482231,90.961426,117.441124,NaN,71.552403,115.55733,137.796875,106.271197,105.335777,87.253983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021m12,310.763183,310.763183,100.565744,134.589504,118.103281,149.364286,94.006826,150.482735,127.771735,131.029703,106.704029,104.819189,101.273544,NaN,107.040766,148.590371,123.076659,150.046922,125.20703,112.372958,116.715183,236.488368,92.188708,126.76124,1.1304,128.511261,NaN,113.309631,108.18251,115.748863,98.1062,105.736748,134.598755,102.27753,90.350055,103.191399,136.975506,112.791885,129.188248,109.624107,132.281006,114.326241,121.065762,72.915611,109.005151,80.763306,97.773956
2022m1,235.956129,235.956129,85.743503,108.15632,94.55061,120.353403,86.851008,101.258277,110.460181,110.823532,103.49926,101.70157,95.003541,NaN,111.052133,129.565798,103.199827,120.338095,133.219393,121.309886,125.229641,196.91114,106.173052,129.829146,1.1314,131.62851,NaN,115.390617,111.037476,117.853386,98.280171,110.894371,117.489883,100.305236,85.44417,92.292313,117.861377,90.558372,92.343117,111.36467,122.236023,108.999212,112.324119,74.355736,95.369065,77.944954,98.599052
2022m2,235.956129,235.956129,90.60354,117.71577,103.987916,129.383676,106.583758,120.956538,117.879631,118.300232,100.294492,98.583952,98.458412,NaN,116.336327,138.56033,113.500635,131.500126,138.905572,131.273215,131.176501,197.523679,118.348203,131.963648,1.1342,133.342178,NaN,116.431107,112.057098,118.905647,98.714158,117.168167,124.627762,98.332942,89.021378,113.290565,124.710859,97.766502,102.820961,114.6884,127.373421,103.672183,115.55733,91.182419,103.950687,79.001831,106.128059
2022m3,329.413367,329.413367,107.843548,136.85872,121.308119,151.201314,124.637966,153.645142,152.000561,156.400634,97.089723,95.466333,121.993915,NaN,117.654038,165.926217,133.13301,158.055622,149.890871,163.186834,141.283339,271.079906,142.200872,135.782207,1.1019,136.153778,NaN,117.471596,112.362991,119.852684,99.021554,118.910912,149.375229,96.360648,109.155949,134.288818,160.954233,114.72081,122.049515,115.164093,152.452942,98.345154,145.254965,102.475998,133.743932,96.704582,119.948433
2022m4,267.373145,267.373145,87.69811,116.528738,99.522205,127.022869,103.55669,128.733305,114.262328,115.012049,NaN,NaN,95.266502,NaN,116.961047,NaN,112.902215,134.93551,146.090998,153.188945,138.094143,243.43603,130.83543,134.859685,1.0819,137.531616,NaN,118.408043,113.280655,121.220627,98.857087,119.385483,128.285706,NaN,84.728728,111.090744,120.09881,91.979698,98.675873,112.158089,134.843353,NaN,114.359844,86.255684,102.36168,80.763306,101.074341

#### **Production Index (Machinery & Electricals)**
| Country        | Code              |
|---------------|------------------|
| China        | MAB_ELE_PRO156    |
| France       | MAB_ELE_PRO250    |
| Germany      | MAB_ELE_PRO276    |
| Italy        | MAB_ELE_PRO380    |
| Japan        | MAB_ELE_PRO392    |
| Switzerland  | MAB_ELE_PRO756    |
| United Kingdom | MAB_ELE_PRO826  |
| United States | MAB_ELE_PRO840   |
| Europe       | MAB_ELE_PRO1100   |

#### **Shipments Index (Machinery & Electricals)**
| Country        | Code              |
|---------------|------------------|
| China        | MAB_ELE_SHP156    |
| France       | MAB_ELE_SHP250    |
| Germany      | MAB_ELE_SHP276    |
| Italy        | MAB_ELE_SHP380    |
| Japan        | MAB_ELE_SHP392    |
| Switzerland  | MAB_ELE_SHP756    |
| United Kingdom | MAB_ELE_SHP826  |
| United States | MAB_ELE_SHP840   |
| Europe       | MAB_ELE_SHP1100   |

#### **Material Prices**
| Indicator                         | Code                  |
|-----------------------------------|----------------------|
| Price of Base Metals             | RohiBASEMET1000_org  |
| Price of Energy                  | RohiENERGY1000_org   |
| Price of Metals & Minerals       | RohiMETMIN1000_org   |
| Price of Natural Gas Index       | RohiNATGAS1000_org   |
| Price of Crude Oil, Average      | RohCRUDE_PETRO1000_org |
| Price of Copper                  | RohCOPPER1000_org    |

#### **Producer Prices / Production code: Electrical Equipment**
| Country         | Producer price Code         | Production Code         |
|-----------------|------------------|------------------|
| United States   | PRI27840_org     | PRO27840_org     |
| United Kingdom  | PRI27826_org     | PRO27826_org     |
| Italy           | PRI27380_org     | PRO27380_org     |
| France          | PRI27250_org     | PRO27250_org     |
| Germany         | PRI27276_org     | PRO27276_org     |
| China           | PRI27156_org     | -                |
| World           | -                | PRO271000_org    |
| Switzerland     | -                | PRO27756_org     |
| Japan           | -                | PRO27392_org     |


#### **Production code: Machinery and Equipment**
| Country        | Code              |
|---------------|------------------|
| United States | PRO28840_org     |
| World        | PRO281000_org     |
| Switzerland  | PRO28756_org      |
| United Kingdom | PRO28826_org    |
| Italy        | PRO28380_org      |
| Japan        | PRO28392_org      |
| France       | PRO28250_org      |
| Germany      | PRO28276_org      |

#### **United States: EUR in LCU**
| Country        | Code              |
|---------------|------------------|
| United States | WKLWEUR840_org   |

# 2. Data Exploration

<a href="#top">Top &#129033;</a>

**Profiling Report**

In [ ]:
# profile = ProfileReport(
#     df, 
#     title='Data',
#     correlations={
#         "pearson": {"calculate": True},
#         "spearman": {"calculate": False},
#         "kendall": {"calculate": False},
#         "phi_k": {"calculate": False},
#         "cramers": {"calculate": False},
#     },
# )

# profile

## 2.1 Descriptive Statistics

<a href="#top">Top &#129033;</a>

<br>

**2.1.1 Exploring the dataset structure with .info() method**

The `.info()` method provides more information about the dataset, including the existence of missing values and the data type of the elements of each row.

In [23]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9802 entries, 0 to 9801
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        9802 non-null   object
 1   Mapped_GCK  9802 non-null   object
 2   Sales_EUR   9802 non-null   object
dtypes: object(3)
memory usage: 229.9+ KB

With the information above, we can see the following:
- all of the columns in this dataset are categorical variables. For analysis purposes, the `DATE` column will be transformed into a date format, and the `Sales_EUR` column into a float. 
- we can also see that there might not be any missing values in any of the columns of the dataset.

Based on this, we will first change the data types of these 2 columns identified so that analysis can be proprerly made.

In [25]:
# Converting the DATE column to a datetime format
sales_data['DATE'] = pd.to_datetime(sales_data['DATE'], format='%d.%m.%Y')

# Converting the Sales_EUR to a numeric format
sales_data['Sales_EUR'] = pd.to_numeric(sales_data['Sales_EUR'].str.replace(',', '.'))

<br>

2.1.2 Statistics

By using the `describe()` method we get different statistical measurements, such as mean and standard deviation, for the various features. We will include the parameter 'all' so both statistics for numerical and categorical data appear.

In [29]:
sales_data.describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
DATE,9802,NaN,NaN,NaN,2020-07-19 17:55:48.785961984,2018-10-01 00:00:00,2019-08-30 00:00:00,2020-07-26 12:00:00,2021-06-09 00:00:00,2022-04-30 00:00:00,NaN
Mapped_GCK,9802,14,#1,1179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sales_EUR,9802.0,NaN,NaN,NaN,272785.686663,-506381.17,0.0,0.0,0.0,41127988.02,2230789.1619

Based on this, we get the following:

- `Date`: the first recorded sales was in the 1st of October of 2018 and the last one was on the 30th of April of 2022. More or less 3 years and half of reorded sales.
- `Mapped_GCK`: seems that product #1 was selled the most (1179 times).
- `Sales_EUR`: The average sales value is approximately 272,785.69 EUR. The lowest recorded sales value is -506,381.17 EUR. A negative value suggests there were some instances of sales being recorded as refunds or returns leading to negative sales figures. 75% of the entries have sales below 0 EUR. The highest sales recorded is 41,127,988.02 EUR, which is significantly higher than the average. This is likely an outlier. The standard deviation is 2,230,789.16 EUR, which is quite high, indicating a large variability in the sales values.

<div class="alert-danger">

# To Do

- fazer o mesmo que fiz mas para o market data
- analisar cada vari√°vel para ambos os datasets e fazer visualiza√ß√µes decentes